.listChat {
  width: 300px;
  height: calc(100vh - 70px);
  background-color: white;
  //   padding: 10px 35px;
}

.content {
  width: 100%;
  position: relative;
  //   height: 100vh;
}

.main {
  display: flex;
  margin-top: 10px;
  column-gap: 5px;
}

.itemChat {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  column-gap: 10px;
  padding: 10px 18px;
  cursor: pointer;
  //   margin-bottom: 15px;
}

.nameUser {
  flex: 1
}

.nameUser {
  &>div:nth-child(2) {
    color: #878a99;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &>div:nth-child(1) {
    font-size: 13px;
  }
}

.activeChat {
  background-color: #daf4f0;
}

.headerChat {
  padding: 0px 15px;
  font-size: 22px;
  padding-top: 20px;
}

.contentChat {
  height: calc(100vh - 156px);
  overflow-y: scroll;
}

.itemMessage {
  // transform: scaleY(-1);
  max-width: 70%;
  width: fit-content;
  padding: 10px 20px;
}

.itemImageMessage {
  max-width: 100%;
  // height: 80px;
  width: fit-content;
  padding: 10px 20px;
}
.itemImageMessage >img{
  width: 150px;
  height: 100%;
}

.contentMessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 222px;
}