.react-datepicker__month-container, .react-datepicker__year--container {
	width: 100%;
  .react-datepicker__header {
    background-color: #ffffff;
    border-bottom: none;
    font-size: 13px;
    color: #212529;
    font-weight: 700;
    line-height: 20px;
    padding: 0;
    // padding-bottom: 8px;
    .react-datepicker__current-month {
      font-size: 13px;
      height: 20px;
      border-radius: 4px;
    }
    .react-datepicker__day-names {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .react-datepicker__day-name {
        font-family: 'Roboto',sans-serif;
      }
    }
  }
  .react-datepicker__week {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color:#212529;
    height: 20px;
    line-height: 20px;
    width: 30px;
    border-radius: 4px;
    margin: 2px 0;
    &:hover {
      background-color: #eee;
    }
  }
  //.react-datepicker__month-text--today, .react-datepicker__quarter-text--today, .react-datepicker__year-text--today {
    .react-datepicker__day--today {
      position: relative;
      font-weight: normal;
    &::before {
      content: '';
      display: inline-block;
      border: solid transparent;
      border-width: 0 0 7px 7px;
      border-bottom-color: #337ab7;
      border-top-color: rgba(0,0,0,0.2);
      position: absolute;
      bottom: 3px;
      right: 3px;
      box-sizing: border-box;
    }
  }
  .react-datepicker__day--selected {
    background-color: #00c5fb;
    color: #fff;
    &:hover{
      background-color: #00c5fb;
      color: #fff;
    }
    &::before {
      border-bottom-color: #ffffff
    }
  }
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-bottom-color: #ffffff;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  left: -30px;
  border-width: 9px;
}
.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 0;
}
.react-datepicker__year-wrapper {
  max-width: initial;
  align-items: center;
  justify-content: space-between;
}