.custom-table {
  padding: 0 !important;
  margin-top: 15px !important;

  table > tbody > tr {
    border-left: 0;
    border-right: 0;
  }

  table > thead > tr {
    border-left: 0;
    border-right: 0;
    box-shadow: unset;
  }

  table > tbody > tr:nth-of-type(2n + 1) {
    background-color: #f6f6f6;
  }

  table > thead > tr > th {
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px 30px 10px 15px;
    border-left: 0;
    border-right: 0;

    &:first-child {
      width: 5%;
    }
    &:nth-child(2) {
      width: 40%;
    }
    &:nth-child(3) {
      width: 30%;
    }
    &:last-child {
      width: 10%;
      text-align: right;
      padding-right: 19px;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }

  .sorting {
    &::before {
      right: 1em;
      content: "\2191";
      position: absolute;
      display: block;
      opacity: 0.3;
    }

    &::after {
      right: 0.5em;
      content: "\2193";
      position: absolute;
      bottom: 0.6em;
      display: block;
      opacity: 0.3;
    }

    &_ASC {
      &::before {
        opacity: 1;
      }
    }

    &_DESC {
      &::after {
        opacity: 1;
      }
    }
  }

  .sorting_ASC {
    &::before {
      right: 1em;
      content: "\2191";
      position: absolute;
      display: block;
      opacity: 0.3;
    }

    &::after {
      right: 0.5em;
      content: "\2193";
      position: absolute;
      bottom: 0.6em;
      display: block;
      opacity: 1;
    }
  }

  .sorting_DESC {
    &::before {
      right: 1em;
      content: "\2191";
      position: absolute;
      display: block;
      opacity: 1;
    }

    &::after {
      right: 0.5em;
      content: "\2193";
      position: absolute;
      bottom: 0.6em;
      display: block;
      opacity: 0.3;
    }
  }

  .table-stt {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
  }
  .text-right.no-sort {
    text-align: right;
    padding-right: 19px;
  }
  .table-stt {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  .showing {
    color: rgb(31 31 31 / 40%);
  }
}
.total-page {
  margin-bottom: 15px;
}
